<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title" style="text-align: center;"><strong>Chat</strong></h4> 
                    </div>
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                     
              
                            <div *ngFor="let lista  of data "  [ngClass]= "{ 'media-chat-reverse' : lista.usuario === jugador1, 'media media-chat' : lista.usuario !=jugador1 } " > 
                               
                                <div class="media-body">
                                  <p *ngIf= "lista.usuario != jugador1" class="meta">{{lista.usuario}} </p>  
                                <p>{{ lista.mensaje }}</p>    
                                <p class="meta">{{getDate(lista.fecha)}}</p>                    
                               </div>
                        </div>

                       
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> 
                        <input class="publisher-input" type="text" [(ngModel)]="mensaje.mensaje" placeholder="Escribi tu mensaje" id="mensajes"> 
                      
                        <button type="button" class="btn btn-secondary btn-sm" (click)="guardarChat()"><fa-icon [icon]="play"  ></fa-icon></button>
                    </div>
                </div>
            </div>
      </div>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg" id="volver" routerLink="/juegos">volver</button>
                </div>

    </div>
</div>
