

<div >
  <img src="./assets/imagenes/banner_1.png" class="img-fluid " alt="Responsive image" >
</div>
<div class="foto-personal">
  <img src="./assets/imagenes/quiensoy.png" class="img-responsive margin foto " style="display:inline"  width="130" height="130" alt="photo quien soy Yo">
</div>
<div class="container-text">
  <h1>Gregnanin Leandro 4B</h1>
  <h3>Que es un Cuadro Magico</h3>
  <p> Los cuadrados mágicos sin distribuciones de números enteros en una tabla en forma de matriz, de tal forma que la suma de los números por columnas, 
    filas o diagonales principales es la misma.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">

      <mat-card class="example-card">
       <img mat-card-image src="./assets/imagenes/quiensoy3.jpg" alt="Photo oquien soy 1">
        <mat-card-content>
          <p>
            Con las tecnologias WEB que permiten desarrollar aplicaciones 
            multiplataforma.     
          </p>
          <br>
          
        </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
     
      <mat-card class="example-card">
        <img mat-card-image src="./assets/imagenes/quiensoy2.jpg" alt="Photo oquien soy 2">
         <mat-card-content>
           <p>
            Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.
           
           </p>
           
         </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
      
      <mat-card class="example-card">
        <img mat-card-image src="./assets/imagenes/quiensoy3.png" alt="Photo quien soy 3">
         <mat-card-content>
           <p>
            Para los sistemas operativos lideres en el 
                  mercado del consumo masivo
           </p>
           <br>
         </mat-card-content>
        </mat-card>

    </div>
  </div>
</div>
