

<div >
  <img src="./assets/imagenes/banner_1.png" class="img-fluid " alt="Responsive image" >
</div>
<div class="foto-personal">
  <img src="./assets/imagenes/quiensoy.png" class="img-responsive margin foto " style="display:inline"  width="130" height="130" alt="photo quien soy Yo">
</div>
<div class="container-text">
  <h1>Gregnanin Leandro 4B</h1>
  <h3>Que es un Cuadro Magico</h3>
  <p> Los cuadrados mágicos sin distribuciones de números en celdas que se disponen formando un cuadrado, de forma que la suma de cualquiera de sus filas,
    de sus columnas, de cualquiera de sus diagonales principales da siempre el mismo resultado.app-form-encuestaEn nuestro caso, vamos a 
    jugar al cuadrado de 15, osea todos sus resultados tiene que ser igual a 15.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">

      <mat-card class="example-card">
       <img mat-card-image src="./assets/imagenes/quien/cuadrado1.png" alt="Photo oquien soy 1">
        <mat-card-content>
          <p>
          Si el cuadrado tiene 3 filas y 3 columnas, es decir 9 casillas
          y   por lo tanto 9 numeros se denomina cuadrado mágico de orden 3.
          </p>
          <br>
          
        </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
     
      <mat-card class="example-card">
        <img mat-card-image src="./assets/imagenes/quien/cuadrado2.png" alt="Photo oquien soy 2">
         <mat-card-content>
           <p>
            Si el cuadrado tiene 4 filas y 3 columnas, es decir 16 casillas
            y   por lo tanto 9 numeros se denomina cuadrado mágico de orden 5.
           
           </p>
           
         </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
      
      <mat-card class="example-card">
        <img mat-card-image src="./assets/imagenes/quien/cuadrado3.png" alt="Photo quien soy 3">
         <mat-card-content>
           <p>
           En general si el cuadrado tiene 'n' filas t 'n' columnas, es decir n2, 
           de lo denomina cuadrado mágico de orden n.
           </p>
           <br>
         </mat-card-content>
        </mat-card>

    </div>
  </div>
  <br>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary btn-lg" id="volver" routerLink="/">volver</button>
    </div>
</div>
