<div >
  <img src="./assets/imagenes/banner_1.png" class="img-fluid " alt="Responsive image" >
</div>

<div class="container">
  <div class="row">
    <div class="col-3">

      <mat-card class="example-card">
       <img mat-card-image src="../../../assets/imagenes/juegos/tateti.png" >
     
        <mat-card-actions>
          <button  class="btn btn-primary btn-lg btn-block" routerLink="tateti">Jugar TATETI</button>
         
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-3">
     
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/juegos/piedra_papel.png" >
         <mat-card-actions>
           <button  class="btn btn-primary btn-lg btn-block" routerLink="piedra">Jugar Piedra Papel o Tijera </button>
          
         </mat-card-actions>
       </mat-card>

    </div>
    <div class="col-3">
      
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/juegos/numero.png" >
        
         <mat-card-actions>
           <button  class="btn btn-primary btn-lg btn-block" routerLink="sumando">Jugar Sumando 15</button>
         
         </mat-card-actions>
       </mat-card>

    </div>
    <div class="col-3">
      
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/juegos/memotest.png" >
        
         <mat-card-actions>
           <button  class="btn btn-primary btn-lg btn-block" routerLink="memotest">Jugar Memotest</button>
         
         </mat-card-actions>
       </mat-card>

    </div>

    
  
  </div>
 <br>

  <br>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary btn-lg" id="volver" routerLink="/">volver</button>
    </div>
 </div>


