<div >
  <img src="./assets/imagenes/banner_1.png" class="img-fluid " alt="Responsive image" >
</div>
<div class="container">
  <div class="row">
    <div class="col-4">

      <mat-card class="example-card">
       <img mat-card-image src="../../../assets/imagenes/home/juegos.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Ingrese a los juegos disponibles y selecciones a cual desea jugar.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="card-button" routerLink="/juegos">Jugar <mat-icon>games</mat-icon></button>
         
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
     
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/home/jugadores.png" alt="Photo of a Shiba Inu">
         <mat-card-content>
           <p>
             Ingrese al listado<br> de todos los jugadores.
           
           </p>
           
         </mat-card-content>
         <mat-card-actions>
           <button mat-button class="card-button">Jugadores <mat-icon>face</mat-icon></button>
          
         </mat-card-actions>
       </mat-card>

    </div>
    <div class="col-4">
      
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/home/listado.png" alt="Photo of a Shiba Inu">
         <mat-card-content>
           <p>
            Ingrese a los listados de los resultados con ordenamiento y busqueda.
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button mat-button class="card-button">Listados <mat-icon>list</mat-icon></button>
         
         </mat-card-actions>
       </mat-card>

    </div>
  </div>
</div>


