<div >
  <img src="./assets/imagenes/banner_1.png" class="img-fluid " alt="Responsive image" >
</div>
<div class="container">
  <div class="row">
    <div class="col-4">

      <mat-card class="example-card">
       <img mat-card-image src="../../../assets/imagenes/home/juegos.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Ingrese a los juegos disponibles y selecciones a cual desea jugar.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary btn-lg btn-block" routerLink="/juegos">Jugar </button>
         
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
     
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/home/listado.png" >
         <mat-card-content>
           <p>
             Ingrese al listado<br> de todos los jugadores.
           
           </p>
           
         </mat-card-content>
         <mat-card-actions>
           <button class="btn btn-primary btn-lg btn-block" routerLink="/listados">Jugadores </button>
          
         </mat-card-actions>
       </mat-card>

    </div>
    <div class="col-4">
      
      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/imagenes/home/jugadores.png">
         <mat-card-content>
           <p>
            Podras encontrar mis datos y toda la info de mi juego.
           </p>
         </mat-card-content>
         <mat-card-actions>
           <button class="btn btn-primary btn-lg btn-block"  routerLink="/quien">Quien Soy</button>
         
         </mat-card-actions>
       </mat-card>

    </div>
  </div>
</div>


