
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand nav-link"  [routerLink]="''"  >
        <fa-icon [icon]="faPuzzlePiece"></fa-icon>    Sala de Juegos</a>         
   
    
   
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link " [routerLink]="'login'">Login</a>
        <a class="nav-item nav-link" [routerLink]="'quien'">Quien Soy</a>   
        <a class="nav-item nav-link" href="https://github.com/gregnaninl/tpjuegos.git" target="_blank">
         Github </a>
    </div>
  </div>


</nav>
