<!--
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand nav-link"  [routerLink]="''"  >
        <fa-icon [icon]="faPuzzlePiece"></fa-icon>    Sala de Juegos</a>         
   
    
   
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link " [routerLink]="'login'">Login</a>
        <a class="nav-item nav-link" [routerLink]="'quien'">Quien Soy</a>   
        <a class="nav-item nav-link" href="https://github.com/gregnaninl/tpjuegos.git" target="_blank">
         Github </a>
    </div>
  </div>


</nav>
-->

<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="''">
    <mat-icon>games</mat-icon>
  </button>
  <span>Sala de Juegos</span>
  

  <span class="example-spacer"></span>
  <button mat-icon-button class="boton" routerLink="/login">
    <span>Login </span>
</button>

<button mat-icon-button class="boton" [routerLink]="'quien'">
 <span> Quien Soy</span>
</button>

  <button mat-icon-button class="boton">
    <mat-icon>person_pin</mat-icon>
  </button>
</mat-toolbar>
