main {
    display: grid;
    grid-template-columns: 152px 152px 150px;
    grid-gap: 0px;
   justify-content: center;
}
  
app-square {
    border: 1px gray solid;
    height: 150px;
    width: 150px;
}
.container {
    display: inline-grid;
    
    justify-content: center;
}

